<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job.email %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @job.contract_type %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @job.pay %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
